/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  font-family: "Afacad", "Helvetica";
}
html {
  font-size: 80%;
}
section {
  max-width: 1280px;
  margin: auto;
  padding: 0 1rem 0 1rem;
}
h1,h2,h3,h4{
  
    font-family: "Afacad", Helvetica;
}
:root {
  color-scheme: light;
  --primerycolor: #0052cc;
  --secondarycolor: #f5f7ff;
  --tertiarycolor: #555555;
  --supportcolor: #f8f8f8;
  --background: #E9F8F6;
}
body {
  background-color: var(--background);
}
p{
  color: var(--tertiarycolor);
}
li {
  list-style: none;
 }

.container {
  /* border: 2px solid; */
  margin: 3rem 0;
  padding:0 0.5rem ;
}


/* Style the scrollbar track */
.overflow-y-auto::-webkit-scrollbar-track {
  background: lightgray;
}

/* Style the scrollbar thumb */
.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: red; /* or any other color you prefer */
  border-radius: 10px; /* add rounded corners */
}

/* Style the scrollbar on hover */
.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background-color: darkred; /* darken the color on hover */
}

@media (width<=500px)
{
html{
  font-size:78%;
}
}


.image-slider {
  height: 80px;
  width:100%;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  width: calc(250px*30);
  animation: scroll 40s linear infinite;
}

.slide {
  flex: 0 0 auto; /* Prevent shrinking of slides */
  width: 200px; /* Adjust this to the size of your logo */
  text-align: center;
}

.slide img {
  width: 100%;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px*15));
    -webkit-transform: translateX(calc(-250px*15));
    -moz-transform: translateX(calc(-250px*15));
    -ms-transform: translateX(calc(-250px*15));
    -o-transform: translateX(calc(-250px*15));
}
}
.nav-area{
  display: flex;
  align-items: center;
 }

.main-nav .menus{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.main-nav .menu-items{
  position: relative;
  font-size: 16px;
}
.main-nav .menu-items a{
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  padding: 0.7rem 0.5rem;
 
}
.main-nav .menu-items a:hover{
  color: var(--primerycolor);
}
.main-nav .menu-items a{
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  padding: 0.7rem 1rem; 
}
.main-nav .dropdown{
  position: absolute;
  right: 0;
  left: 5px;
  box-shadow: 0 10px 15px -3px #ddd,  0 4px 6px -2px #ddd;
  min-width: 15rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color:white;
  border-radius: 1rem;
  display: none;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.main-nav .dropdown.show{
  display: block;
}
.main-nav .dropdown .dropdown-submenu{
  position: absolute;
  left: 100%;
  top:-8px;
}
.main-nav .arrow::after{
  content: "";
  display: inline-block;

  margin-left: 0.29em;
  vertical-align: 0.10em;
  border-top: 0.45em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.main-nav button span{
  margin-left: 5px;
}
 
@media (width<=1024px)
{
  .main-nav .dropdown{
    position: relative;
}

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}